<h2>Conócenos</h2>
    <p>La Cruz Roja Ecuatoriana es una organización humanitaria sin fines de lucro que brinda asistencia en emergencias y desastres naturales,
        promueve la salud y el bienestar, y fomenta la cultura de la paz. Nuestra misión es aliviar el sufrimiento humano, proteger la vida y la salud,
        y garantizar el respeto por la dignidad humana.</p>
    <img src="cruz-roja-guayaquil.jpeg" alt="imagen">
    <ul>
        <li>Fundada en 1910, la Cruz Roja Ecuatoriana ha estado al servicio de la comunidad durante más de un siglo.</li>
        <li>Contamos con programas de primeros auxilios, donación de sangre, y atención en desastres naturales.</li>
        <li>Estamos presentes en todo el territorio ecuatoriano con más de 100 filiales y miles de voluntarios dedicados.</li>
    </ul>
